### ShadCN Components
- 컴포넌트 사용 전 설치 여부를 확인해야합니다.: `/components/ui` 디렉토리 체크
- 컴포넌트 설치 명령어를 사용해야 합니다: `npx shadcn@latest add [component-name]`
- 주의: `npx shadcn-ui@latest add` 명령어는 deprecated. 반드시 `npx shadcn@latest add` 사용해야 합니다.

### Icons
- 아이콘 사용 명령어: `import { IconName } from "lucide-react"`

### Components Structure
- 컴포넌트는 `/components` 디렉토리 내에 위치해야 합니다.
- UI 컴포넌트는 `/components/ui` 디렉토리 내에 위치해야 합니다.
- 페이지 컴포넌트는 `/components/pages` 디렉토리 내에 위치해야 합니다.
- 페이지별 컴포넌트는 `/app`디렉토리 내 해당 라우트에 위치해야합니다.

- 공통 컴포넌트는 `/components/common` 디렉토리 내에 위치해야 합니다.
- 헤더 컴포넌트는 `/components/headers` 디렉토리 내에 위치해야 합니다.
- 푸터 컴포넌트는 `/components/footers` 디렉토리 내에 위치해야 합니다.


##Best Practices
- TypeScript 타입은 반드시 정의해야합니다.
- 컴포넌트는 재사용 가능하도록 설계해야합니다.